body, html {
  height:100%;
  margin:0;
    
  }

  
  a:link {
  color:white;
  }

  

  #title{

  
    color: #fafafa;
    font-family: lobster;

  }



.fixed-bottom{
  background-color: #333333;
  position: fixed;
  height: 10rem;
  bottom: 0;

}

body {
    overflow-x: hidden !important;
    display: flex;
    flex-flow: column;
  
}

img{
    width:100%;
  height:auto;
  overflow:hidden;
  
}
  
.container {
    max-width: 100% !important;
    overflow-x: hidden !important;

}
  #t{

    color: #fafafa;

  }
  #t:hover{
    color: #696969;

  }



  .text-responsive {
    text-align: center;
    
    font-size: calc(100% + 0.1vw + 0.1vh);
    width: calc(100% - 35vw - 35vh);
  }

  .container-fluid{
    border: none;

  }
  

.panel-footer.panel-custom {
  background:#696969;
  color: white;
  margin-top: auto;
  height: 3rem;


}



.email{
  text-decoration: underline;

}
  
.footer-text{

  font-size:1vw;
  color:#fafafa;
  position: absolute;
  top:2rem;
  

}
