
  body, html {
    height:100%;
    margin:0;
      
    }
  
    
    a:link {
    color:white;
    }
  
  
  .btn {
  
    background-color: #696969;
    color: white;
    cursor: pointer;
    border:1px solid black;
    border-radius: 0;
    position: absolute;
    left: -1rem;

  }
    
  .btn:hover {
    color: #1c1c1c;
  } 

.navbar-text{
  color: #fafafa;
  font-family: lobster;

}

.navbar-custom{
  background-color: #696969;

}

  .fixed-bottom{
    background-color: #333333;
    position: fixed;
    height: 10rem;
    bottom: 0;

  }

  body {
      overflow-x: hidden !important;
      display: flex;
      flex-flow: column;
    
  }

  img{
      width:100%;
    height:auto;
    overflow:hidden;
    
  }
    
  .container {
      max-width: 100% !important;
      overflow-x: hidden !important;
  
  }
  
  
    
  
    
  .teksti_edit{
      position:relative;
      
  }  
    
  
    
  .text-center{
      
    width:500px;
    font-family:Times New Roman;
    font-size:2vw;
    position:absolute;
    top:5rem;
    left:45rem;
    margin: 50px 0 0 -59px;
    text-align:center;  
    letter-spacing:1px;
  }
  
  .panel-footer.panel-custom {
    background:#696969;
    color: white;
    margin-top: auto;
    height: 3rem;


}

      

  .email{
    text-decoration: underline;
 
  }
    
  .footer-text{

    font-size:1vw;
    color:#fafafa;
    position: absolute;
    top:2rem;
    

  }
  
